body {
    margin: 0;
    font-family: Arial, sans-serif;
    /*background: linear-gradient(135deg, #2c3e50, #bdc3c7);
    */
    background:  #7c8ea0;
    
    color: #fff;
    text-align: center;

    justify-content: center;
    align-items: center;
    height: 100vh;
}

#bodytext {
    font-family: 'Courier New', Courier, monospace;
    background-color: #f0f0f0;
    color: #333;
    line-height: 1.6;
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
}


p {
    padding-left: 10px; /* Default left padding for <p> elements */
    text-align: left; /* Ensures text is left aligned */
}


header {
    background: rgba(0, 0, 0, 0.7);
    padding: 10px 0;
}

h1, h2 {
    color: #1a1a1a;
}

h2 {
    margin: 0;
    text-align: left;
    padding-left: 10px; /* Default left padding for <p> elements */
}

h3 {
    margin: 0;
    text-align: left;
    padding-left: 10px; /* Default left padding for <p> elements */
}


nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: #ffffff;
    font-size: 18px;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #bdc3c7;
}

main {
    padding: 10px 20px;
}

footer {
    background: rgba(0, 0, 0, 0.7);
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    font-size: 14px;
}
footer.test {
    background: rgba(0, 0, 0, 0.7);
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    font-size: 14px;
}


#container {
    display: flex;
    height: calc(100vh - 220px); /* 100% - 220px Adjust for header/footer height */
}

#content {
    flex-grow: 1;
    border: none;
}

#menu {
    width: 20%;
    background-color: #f4f4f4;
    padding: 10px;
    box-sizing: border-box;
}

#menu ul {
    list-style: none;
    padding: 0;
}

#menu ul li {
    margin-bottom: 10px;
}

#menu ul li a {
    text-decoration: none;
    color: #333;
}

#menu ul li a:hover {
    text-decoration: underline;
}


a {
    text-decoration: underline;
    color: #FFFFFF; /* Standard link color */
    transition: background-color 0.3s ease; /* Smooth transition */
}

a:hover {
    background-color: yellow; /* Highlight color on hover */
    color: #000000; /* Optional: Change text color on hover */
}
